@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Ubuntu', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    height: 65px;
    list-style-type: none;
    position: fixed;
    width: 100%;
    top: 0;
}

nav ul li {
    padding: 0 10px;
}

.brand img {
    width: 44px;
    margin-right: 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bolder;
}

.container {
    height: 64vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 8px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
    background-size: cover;
    margin-top: 78px;
}

.bottom {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: black;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.icons {
    margin-top: 14px;
    display: flex;
    align-items: center;
}

.icons i, .timeStamp i {
    cursor: pointer;
}

#myProgressBar {
    width: 80vw;
    cursor: pointer;
}

.songItem {
    display: flex;
    background-color: #fff;
    color: black;
    height: 50px;
    margin: 12px auto;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img {
    width: 43px;
    margin: 0 23px;
    border-radius: 50%;
    height: 43px;
}

.timeStamp {
    margin: 0 23px;
}

.songItemContainer {
    margin-top: 20px;
}

.songInfo {
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.songList {
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.songList::-webkit-scrollbar {
    display: none;
}

/* scrollbar */

@media screen and (max-width: 480px) {
    .songList h1 {
        font-size: 16px;
        text-align: center;
    }
    .songName {
        font-size: 12px;
    }
    .timeStamp {
        margin: 0 10px;
        display: flex;
        font-size: 12px;
    }
    .songItem img {
        width: 40px;
        height: 40px;
        margin: 0 11px;
        border-radius: 50%;
    }
    .songItemPlay {
        margin-left: 6px;
    }
    .icons {
        margin-top: 6px;
        display: flex;
        align-items: center;
        font-size: 12px;
    }
    .songInfo {
        position: absolute;
        top: 10px;
        left: 0;
    }
    .bottom {
        display: flex;
        align-items: center;
    }
    .container {
        height: 73vh;
        width: 85%;
        padding: 14px;
        margin-bottom: 112px;
    }
    #myProgressBar {
        margin-top: 22px;
    }
}
